@model ChatWebApi.Models.Conversation

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Conversation</h4>
    <hr />
    <dl class="row">
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ConversationId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
