*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties


/ChatApplciation/ChatWebApi/bin
/ChatApplciation/ChatWebApi/obj

/ChatApplciation/ChatWebApp/bin
/ChatApplciation/ChatWebApp/obj

/ChatApplciation/ChatApplciation/bin
/ChatApplciation/ChatApplciation/obj

/ChatApplciation/.vs


**.suo
**.user